@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.text-gradient {
  background-image: linear-gradient(
    45deg,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.image-gradient {
  background: radial-gradient();
}

body::-webkit-scrollbar {
  width: 0.2em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #33bbcf;
  outline: 1px solid slategrey;
}

.blue__gradient {
  background: linear-gradient(
    180deg,
    rgba(188, 165, 255, 0) 0%,
    #214d76 100%
  );
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.black__gradient {
  background: linear-gradient(
    -135deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

@layer base {
  body {
    @apply bg-primary text-white;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-bold;
  }
  h2 {
    @apply text-3xl lg:text-4xl font-bold;
  }

  li {
    @apply cursor-pointer;
  }

  .f-center {
    @apply flex items-center justify-center;
  }
  .f-between {
    @apply flex items-center justify-between;
  }
  .f-start {
    @apply flex items-start justify-start;
  }
  .f-end {
    @apply flex items-end justify-end;
  }

  .gradient-1 {
    @apply bg-gradient-to-t from-[#272727] to-[#11101D];
  }

  .gradient-2 {
    @apply bg-gradient-to-br from-[#33BBCF] via-[#9dedf0]
    to-[#DEF9FA];
  }
}
